body {
    font-family: 'Consolas';
    background-image: url("https://asset-cdn.schoology.com/system/files/imagecache/profile_big/pictures/picture-c0b09cdead19788fb0f8be0d53b5c572_68c34cd700b90.jpg");
    background-size: 50px;
    cursor: none;
}

button {
    cursor: none;
}

@keyframes rgb-color {
    0% {
    color: red;
    }

    33.3% {
    color: green;
    }

    66.7% {
    color: blue;
    }

    100% {
    color: red;
    }
}

.clicker-image-container {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    transition: 0.1s;
}

.clicker-image {
    width: 250px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.clicker-image-container:hover {
    transform: translate(-50%, -50%) scale(1.1);
    transition: 0.3s;
}

.clicker-image-container:active {
    transform: translate(-50%, -50%) scale(1.25);
    transition: 0s;
}

.click-number-text {
    pointer-events: none;
    font-size: 18px;
    position: absolute;
    animation: moveText 3s linear 1;
}

@keyframes moveText {
    0% {transform: translate(0, 0); opacity: 1;}
    100% {transform: translate(0, -150px); opacity: 0;}
}

#clicker-count {
    font-family: 'Consolas';
    font-size: 25px;
    text-align: center;
}

#shiny-count {
    font-family: 'Consolas';
    font-size: 25px;
    text-align: center;
    color: #ffbf00;
}

#prestige-count {
    font-family: 'Consolas';
    font-size: 25px;
    text-align: center;
    animation: rgb-color 3s infinite;
}

.game-container {
    position: fixed;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    background-color: #ffffff;
    text-align: center;
}

.clicker-section {
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
}

#customCursor {
    position: absolute;
    object-fit: cover;
    width: 20px;
    height: 20px;
    pointer-events: none;
    z-index: 10;
}

#upgrade-svg {
    width: 50px;
    height: 50px;
    background-color: #cccccc;
    border-radius: 50%;
    position: fixed;
    top: calc(5% + 10px);
    left: calc(5% + 10px);
}

#upgrade-svg:hover {
    background-color: #bbbbbb;
}

#shiny-upgrade-svg {
    width: 50px;
    height: 50px;
    background-color: #ffbf00;
    border-radius: 50%;
    position: fixed;
    top: calc(5% + 10px);
    left: calc(5% + 70px);
}

#shiny-upgrade-svg:hover {
    background-color: #dda500;
}

#gambling-icon {
    width: 50px;
    height: 50px;
    background-color: #3a7fff;
    border-radius: 50%;
    position: fixed;
    top: calc(5% + 10px);
    right: calc(5% + 10px);
    text-align: center;
    font-size: 1.4em;
    line-height: 50px;
}

#gambling-section {
    padding-top: 25px;
}

.dn-button {
    height: 45px;
    padding: 5px;
    background-color: hsl(24, 100%, 61%);
    font-family: 'Consolas';
    font-size: 1.2em;
}

#dn-result {
    font-size: 1.4em;
}

#slot-machine {
    margin-top: 25px;
    width: 280px;
    height: 120px;
    background-color: #d4d4d4;
    border: 3px solid rgb(146, 146, 146);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.slot {
    width: 90px;
    height: 90px;
    margin: 15px;
    background-color: #eeeeee;
    align-content: center;
}

#slots-result {
    margin-top: 10px;
}

#spin-button {
    font-family: 'Consolas';
    border-radius: 0;
    font-size: 1.1em;
    margin-top: 10px;
}

.upgrade-btn {
    width: 100%;
    margin: 10px 0 10px 0;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 3em;
}

.upgrade-item, .shiny-upgrade-item {
    background-color: #eee;
}

.upgrade-item.locked, .shiny-upgrade-item.locked {
    opacity: 0.5;
    background-color: #ddd;
}

.upgrade-item.hidden, .shiny-upgrade-item.hidden {
    opacity: 0.4;
    background-color: #e8e8e8;
}

.upgrade-text {
    white-space: pre-wrap;
    pointer-events: none;
}

#prestige-btn {
    color: #fff;
    background-image: radial-gradient(hsl(261, 100%, 78%) 0%, hsl(261, 100%, 16%) 100%);
}

#upgrade-section, #shiny-upgrade-section {
    width: 100%;
    height: 100%;
    max-height: calc(100vh - 300px);
    overflow: scroll;
}

#xp-bar {
    position: absolute;
    bottom: 60px;
    left: calc(50% - 250px);
    width: 500px;
    height: 30px;
    background-color: #05008d;
    color: white;
    text-align: center;
    align-content: center;
}

#xp-progress {
    position: absolute;
    top: 0;
    transition: width 0.3s;
    height: 30px;
    background-color: #3831ff;
    margin: 0;
    z-index: 1;
}

#xp-text {
    position: relative;
    z-index: 2;
}

.small {
    font-size: 0.7em;
}